.title-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.page-title {
    flex: 0 0 auto;
}

.toolbar-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-container-right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
}



.title-toolbar-section {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #1f5fbf;
}

.title-light {
    color: var(--button-overlay-light) !important;
}

.title-dark {
    color: #F0F0F0 !important;
}

.subtitle {
    padding-left: 16px;
    margin-bottom: 5px;
    font-size: 0.9rem !important;
}

.subtitle-light {
    color: slategrey !important;
}

.subtitle-dark {
    color: slategray !important;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
    .toolbar {
        background-color: var(--toolbar-bg-dark);
    }
}

.toolbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.toolbar .mud-button-root {
    min-width: 100px;
    height: 36px;
    padding: 0 12px;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: none;
}

.toolbar-container {
    flex: 1;
    display: flex;
}

.toolbar-container,
.toolbar {
    width: 100%
}

.toolbar-left {
    margin-left: 30px;
    display: flex;
    gap: 6px;
}

.toolbar-right {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    gap: 6px;
}

.toolbar-right {
    margin-left: auto;
}

.toolbar-button {
    min-width: 100px;
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 600;
}

.toolbar-button:hover,
.toolbar-button:focus {
    border: none;
    outline: none;
    box-shadow: none;
    filter: brightness(0.95);
}

.toolbar-button-light {
    background-color: var(--button-overlay-light);
    color: var(--button-text-color-light);
}

.toolbar-button-dark {
    background-color: var(--button-overlay-dark);
    color: var(--button-text-color-dark);
}

.toolbar-button-highlight-light {
    background-color: var(--button-highlight-overlay-light);
    color: var(--button-highlight-text-color-light);
}

.toolbar-button-highlight-dark {
    background-color: var(--button-highlight-overlay-dark);
    color: var(--button-highlight-text-color-dark);
}

.page-code {
    font-size: 0.8rem;
    color: gray;
}

.spacer {
    flex: 1;
}